<a href="https://colab.research.google.com/github/avanegasp/Google_Colab/blob/main/Cargando_Archivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_books = pd.read_csv('/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv',sep=',', header=0, names=['Names', 'Authors', 'User Ratings', 'Reviewss', 'Prices', 'Years', 'Genres'], dtype='object')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_books

,Names,Authors,User Ratings,Reviewss,Prices,Years,Genres
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
pd.read_json('https://static.platzi.com/media/public/uploads/hpcharactersdataraw_3d934e85-dfa4-42ec-8520-fadfbecae574.json',typ='Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

In [ ]:
As_TOP= pd.read_csv('/Aspirantes TOP - Limpio - Todo (1).csv')

In [ ]:
As_TOP

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN
4,nohemi.ldr@gmail.com,Nohemi Martinez,LGTB+,MX,29,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,michaelmeza_2002@hotmail.com,Michael Jose Meza Parrilla,Male,PE,32,2,12,Sergio Jaramillo,Mateo Herrera,True,True,ISA - TP,c4,Sigue en el proceso
174,camilooviedo1026@gmail.com,Camilo Oviedo Parra,Male,CO,38,2,10,Leonel Oliveros,Daniel Santiago Muñoz,True,True,ISA - TC,c1,Falta Experiencia
175,anglodos@gmail.com,Andres Garcia Quintero,Male,CO,36,2,13,Cristian Moreno,Hector Triana,True,False,ISA - TP,NaN,NaN
176,juanalbadan3@gmail.com,Juan David Albadan alvarez,Male,CO,34,3,6,Leonel Oliveros,Luis David Hernandez,True,False,ISA - TC,NaN,NaN
177,juancrivas2179@gmail.com,Juan Rivas,Male,CO,26,2,8,Cristian Moreno,Juan Quiroz,True,True,ISA - TC,c1,Falta Experiencia

In [ ]:
As_TOP.columns

Index(['Correo', 'Nombre', 'Género', 'País', 'Edad', 'Nivel', 'Misiones',
       'Agendó con Mentor técnico', 'Ment@r', 'Perfilación', 'Prueba Técnica',
       'Tipo de contrato - modalidad', 'Resultado PT', 'Sigue en el Proceso'],
      dtype='object')

In [ ]:
As_TOP[0:2]

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN

In [ ]:
As_TOP[['Correo', 'Nombre', 'País']]

                             Correo                            Nombre País
0    alexanderbohorquez96@gmail.com  Brayan Alexander Bohorquez ramos   CO
1          kte.vargas1102@gmail.com           Katerine Vargas Ramirez   CO
2                penta29@hotmail.es              Lugui Pedro Lazo Coz   PE
3                robedw20@gmail.com                 Edward Bustamante   PE
4              nohemi.ldr@gmail.com                   Nohemi Martinez   MX
..                              ...                               ...  ...
173    michaelmeza_2002@hotmail.com        Michael Jose Meza Parrilla   PE
174      camilooviedo1026@gmail.com               Camilo Oviedo Parra   CO
175              anglodos@gmail.com            Andres Garcia Quintero   CO
176          juanalbadan3@gmail.com        Juan David Albadan alvarez   CO
177        juancrivas2179@gmail.com                        Juan Rivas   CO

[178 rows x 3 columns]

### Loc esta basado en labels

In [ ]:
As_TOP.loc[0:10,['Correo', 'Nombre', 'País', 'Nivel']]

,Correo,Nombre,País,Nivel
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,CO,1
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,CO,1
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,PE,1
3,robedw20@gmail.com,Edward Bustamante,PE,1
4,nohemi.ldr@gmail.com,Nohemi Martinez,MX,1
5,jmerkv@gmail.com,Juan Miguel Mercado Villadiego,CO,1
6,kavajue@gmail.com,Cristhian Eduardo Velázquez Coronel,PY,1
7,jsolareshernandez@gmail.com,Jose Solares,MX,1
8,lucciana.chambilla@utec.edu.pe,Lucciana Débora Chambilla Mamani,PE,1
9,locky_mbsces@hotmail.com,Hector Soto Mendoza,PE,1
10,torresliberti@gmail.com,Virginia Milagros Torres Liberti,PE,1

In [ ]:
As_TOP.loc[0:,['Nombre']]

                               Nombre
0    Brayan Alexander Bohorquez ramos
1             Katerine Vargas Ramirez
2                Lugui Pedro Lazo Coz
3                   Edward Bustamante
4                     Nohemi Martinez
..                                ...
173        Michael Jose Meza Parrilla
174               Camilo Oviedo Parra
175            Andres Garcia Quintero
176        Juan David Albadan alvarez
177                        Juan Rivas

[178 rows x 1 columns]

In [ ]:
As_TOP.loc[0:3]

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN

In [ ]:
As_TOP.loc[:, ['País']] == 'MX'

      País
0    False
1    False
2    False
3    False
4     True
..     ...
173  False
174  False
175  False
176  False
177  False

[178 rows x 1 columns]

#ILOC (su búsqueda va a ser por índice o sea columnas)

In [ ]:
As_TOP.iloc[:]

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN
4,nohemi.ldr@gmail.com,Nohemi Martinez,LGTB+,MX,29,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,michaelmeza_2002@hotmail.com,Michael Jose Meza Parrilla,Male,PE,32,2,12,Sergio Jaramillo,Mateo Herrera,True,True,ISA - TP,c4,Sigue en el proceso
174,camilooviedo1026@gmail.com,Camilo Oviedo Parra,Male,CO,38,2,10,Leonel Oliveros,Daniel Santiago Muñoz,True,True,ISA - TC,c1,Falta Experiencia
175,anglodos@gmail.com,Andres Garcia Quintero,Male,CO,36,2,13,Cristian Moreno,Hector Triana,True,False,ISA - TP,NaN,NaN
176,juanalbadan3@gmail.com,Juan David Albadan alvarez,Male,CO,34,3,6,Leonel Oliveros,Luis David Hernandez,True,False,ISA - TC,NaN,NaN
177,juancrivas2179@gmail.com,Juan Rivas,Male,CO,26,2,8,Cristian Moreno,Juan Quiroz,True,True,ISA - TC,c1,Falta Experiencia

In [ ]:
As_TOP.iloc[1:6]

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN
4,nohemi.ldr@gmail.com,Nohemi Martinez,LGTB+,MX,29,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
5,jmerkv@gmail.com,Juan Miguel Mercado Villadiego,Male,CO,42,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN

In [ ]:
As_TOP.iloc[4,2]

'LGTB+'

In [ ]:
df_books.iloc[:]

,Names,Authors,User Ratings,Reviewss,Prices,Years,Genres
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
df_books.iloc[4,3]

'7665'

In [ ]:
df_books.iloc[:]

,Names,Authors,User Ratings,Reviewss,Prices,Years,Genres
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
df_books.iloc[:2,2:]

  User Ratings Reviewss Prices Years       Genres
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction