<a href="https://colab.research.google.com/github/avanegasp/Google_Colab/blob/main/Funcionalidades_de_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6 (1).csv', sep=',',header=0)

df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [5]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [7]:
df_astop = pd.read_csv('/content/Aspirantes TOP - Limpio - Todo.csv', sep=',',header=0)

df_astop.head(2)

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN

In [9]:
df_astop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Correo                        178 non-null    object
 1   Nombre                        178 non-null    object
 2   Género                        178 non-null    object
 3   País                          178 non-null    object
 4   Edad                          178 non-null    int64
 5   Nivel                         178 non-null    int64
 6   Misiones                      178 non-null    int64
 7   Agendó con Mentor técnico     81 non-null     object
 8   Ment@r                        178 non-null    object
 9   Perfilación                   178 non-null    bool
 10  Prueba Técnica                178 non-null    bool
 11  Tipo de contrato - modalidad  110 non-null    object
 12  Resultado PT                  62 non-null     object
 13  Sigue en el Proceso           63 non-null     object
dtypes: bool(2), int64(3), object(9)
memory usage: 17.2+ KB

In [10]:
df_astop.describe()

             Edad       Nivel    Misiones
count  178.000000  178.000000  178.000000
mean    31.410112    1.640449    5.938202
std      7.058697    0.624313    4.033980
min     19.000000    1.000000    0.000000
25%     27.000000    1.000000    1.000000
50%     30.000000    2.000000    7.000000
75%     36.000000    2.000000    9.000000
max     51.000000    3.000000   13.000000

## Tail devuelve los 2 últimos

In [11]:
df_astop.tail(2)

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
176,juanalbadan3@gmail.com,Juan David Albadan alvarez,Male,CO,34,3,6,Leonel Oliveros,Luis David Hernandez,True,False,ISA - TC,NaN,NaN
177,juancrivas2179@gmail.com,Juan Rivas,Male,CO,26,2,8,Cristian Moreno,Juan Quiroz,True,True,ISA - TC,c1,Falta Experiencia

In [13]:
df_astop.tail(2)

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
176,juanalbadan3@gmail.com,Juan David Albadan alvarez,Male,CO,34,3,6,Leonel Oliveros,Luis David Hernandez,True,False,ISA - TC,NaN,NaN
177,juancrivas2179@gmail.com,Juan Rivas,Male,CO,26,2,8,Cristian Moreno,Juan Quiroz,True,True,ISA - TC,c1,Falta Experiencia

In [14]:
df_astop.memory_usage(deep=True)

Index                             128
Correo                          14322
Nombre                          15088
Género                          10931
País                            10502
Edad                             1424
Nivel                            1424
Misiones                         1424
Agendó con Mentor técnico        9146
Ment@r                          13634
Perfilación                       178
Prueba Técnica                    178
Tipo de contrato - modalidad     9500
Resultado PT                     7370
Sigue en el Proceso              8495
dtype: int64

## Value_counts hace las evaluación de valores únicos

In [22]:
df_astop['Género'].value_counts()

Male      139
Female     34
LGTB+       5
Name: Género, dtype: int64

In [23]:
df_astop['Nivel'].value_counts()

2    86
1    78
3    14
Name: Nivel, dtype: int64

## drop_duplicates elimina duplicados

In [ ]:
df_astop.drop_duplicates()

## deja el último duplicado

In [ ]:
df_astop.drop_duplicates(keep='last')

## ordena los valores por el valor que le pases

In [30]:
df_astop=df_astop.head(10)
df_astop

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN
4,nohemi.ldr@gmail.com,Nohemi Martinez,LGTB+,MX,29,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
5,jmerkv@gmail.com,Juan Miguel Mercado Villadiego,Male,CO,42,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
6,kavajue@gmail.com,Cristhian Eduardo Velázquez Coronel,Male,PY,27,1,0,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
7,jsolareshernandez@gmail.com,Jose Solares,Male,MX,40,1,1,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
8,lucciana.chambilla@utec.edu.pe,Lucciana Débora Chambilla Mamani,Female,PE,20,1,0,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
9,locky_mbsces@hotmail.com,Hector Soto Mendoza,Male,PE,37,1,1,Leonel Oliveros,Mateo Herrera,True,False,Indeciso - TP,NaN,NaN

In [32]:
df_astop.sort_values('Misiones',ascending=True)

,Correo,Nombre,Género,País,Edad,Nivel,Misiones,Agendó con Mentor técnico,Ment@r,Perfilación,Prueba Técnica,Tipo de contrato - modalidad,Resultado PT,Sigue en el Proceso
0,alexanderbohorquez96@gmail.com,Brayan Alexander Bohorquez ramos,Male,CO,27,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
1,kte.vargas1102@gmail.com,Katerine Vargas Ramirez,Female,CO,28,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
2,penta29@hotmail.es,Lugui Pedro Lazo Coz,Male,PE,39,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
4,nohemi.ldr@gmail.com,Nohemi Martinez,LGTB+,MX,29,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
5,jmerkv@gmail.com,Juan Miguel Mercado Villadiego,Male,CO,42,1,0,NaN,Ferney Medina,False,False,NaN,NaN,NaN
6,kavajue@gmail.com,Cristhian Eduardo Velázquez Coronel,Male,PY,27,1,0,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
8,lucciana.chambilla@utec.edu.pe,Lucciana Débora Chambilla Mamani,Female,PE,20,1,0,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
3,robedw20@gmail.com,Edward Bustamante,Male,PE,33,1,1,NaN,Ferney Medina,False,False,NaN,NaN,NaN
7,jsolareshernandez@gmail.com,Jose Solares,Male,MX,40,1,1,NaN,Mateo Herrera,False,False,NaN,NaN,NaN
9,locky_mbsces@hotmail.com,Hector Soto Mendoza,Male,PE,37,1,1,Leonel Oliveros,Mateo Herrera,True,False,Indeciso - TP,NaN,NaN